<!DOCTYPE html>
<html ng-app ="myApp">
<Script Type="Text/Javascript" src="../lib/angular.js"></Script>
<Script Type="Text/Javascript" src="app.js"></Script>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="myController">
<h1>slideomatic</h1>
<h2>enter your input</h2>
                      <div ng-repeat="s in slides" style="border:1px solid black">
                          <h3>slide #{{s.num}}</h3>
                          title:   <input width="100%" value="{{s.title}}"/>
                          <div >                                                                                                                         add
                              <br>
                          content: <textarea rows="5" cols="50">{{s.content}}</textarea>
                          <button ng-click="add_slide()">add slide</button>
                              </div>
                      </div>


<br>
<div>
<button ng-click="apply()">apply</button>
    </div>
</body>
</html>